@model VoziloKT.Models.DataForVehicles

@{
    ViewData["Title"] = "Add New";
}
<!-- This view is used to add a new vehicle using the Create method in DataForVehicles conroller-->
<h1>Create</h1>

<h4>Data For Vehicles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlateNumber" class="control-label"></label>
                <input asp-for="LicensePlateNumber" class="form-control" />
                <span asp-validation-for="LicensePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModel" class="control-label"></label>
                <select asp-for="VehicleModel" class="form-control" asp-items="ViewBag.VehicleModel"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
